<div>
  <h2>{{selectedNote.nombre}}</h2>
  <div>{{selectedNote.contenido}}</div>
  <div id="share">
    <h3>{{i18n 'Share note with'}}</h3>
    <h3>{{i18n 'Destination username'}}</h3>
    <input type="text" id="user" placeholder={{i18n 'Destination username'}}><br/>
    <input type="button" id="savesharebutton" value="{{i18n 'Save'}}"></input>
  </div>

</div>
